
a, a:focus {
	outline:none;}

html, body {
	height: 100%;}

.wrapper {
	max-width:1200px;
	background:#00a550 url(../images/main_bg.jpg) center center;
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em;}
	
footer, .push {
	height: 4em;}
	
	
/*------- header --------*/	
header {
	z-index:10;
	height:70px;
	background-color:#ebf0ec;
	position:relative;}
	
header > .logo-holder {
	margin-top:10px;
	margin-left:20px;}	
	
header > nav.navbar {
	background-color:#388a41;
	height:100%;
	top:0;
	right:0;
	position:absolute;}
	
header > nav.navbar > div {
	background-color:inherit;}
	
header .navbar-header > button {
	font-size:6px;
	margin:0;
	height:70px;
	width:70px;
	background-color:#388a41;
	border:none;
	border-radius:0;}
	
header .navbar-default .navbar-header > button:hover, header .navbar-default .navbar-header > button:focus {
	background-color:#388a41;}
	
header .navbar-default .navbar-toggle .icon-bar {
	display:inline-block;
	width:26px;
	background-color:white;
	height:3px;
	color:white;}
	
#bs-meniu-navbar-collapse {
	border:none;
	background-color:#388a41;}
	
#bs-meniu-navbar-collapse > ul {
	margin-top:0;
	margin-bottom:0;}	
	
#bs-meniu-navbar-collapse > ul > li {
	min-width:150px;}
	
#bs-meniu-navbar-collapse > ul > li > a {
	color:white;}
		
#bs-meniu-navbar-collapse > ul > li.active > a, #bs-meniu-navbar-collapse > ul > li > a:hover {
	background-color:#48a953;}


/*---- main content ------*/
#main-content {
	height:auto;
	background-color:white;}
	
#main-content .nano {
	width:90%;} 
	
#news {}

.news-holder {max-height:210px;}

/*--- scrooler ----*/
.nano .nano-content { padding: 10px;}
.nano .nano-pane   { background: #eaeaea; width:3px; }
.bottom-block .nano-pane .nano-slider { background: #388a41; width:3px; }

/*-------- footer ---------*/
footer	{
	background-color:#343433;
	max-width:1200px;
	margin: 0 auto;}
